//secretos revelados//

$map: (
    ancho1: 700px,
    color: rgb(153 99 18 / 60%),
    tFuente: 35px,
    margen : 10px,
    pad: 15px, 
    fuente: 15px,
    relleno: 25px,
    ancho2: 250px,
    pad2: 25px,
    margen2: 10px,
    borde: 15px,
    porcen: 70%,

);

.secreto{
    text-align: center;
    padding: map-get($map, pad );
    margin: map-get($map, margen );

    img{
        width: map-get($map, ancho1 );
        margin-top: map-get($map, margen );
        border-radius: 25px;
        box-shadow: 15px 18px 25px black;       
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    img:hover{
        transform: scale(1.1);
        box-shadow: 13px 15px 17px black;
        opacity: 0.9;
    }
    
}

@mixin   flex-nowrap {
    display: flex;
    justify-content: center;
}

.tarjetas{
    @include flex-nowrap;
}

.destacado{
    @include flex-nowrap;
    background-color: map-get($map, color );
    width: map-get($map, porcen );
    margin: map-get($map, margen2 );
    text-align: center;
    border-radius: map-get($map, borde );
    
    img{
        margin: map-get($map, margen2 );
        border-radius: map-get($map, borde );
        text-align: center;
        width: 450px;
    }

    .descripcion{
        font-size: map-get($map, fuente );
        padding: map-get($map, pad2 );
        margin: map-get($map, margen2);
        display: flex;
        color: beige;
        align-content: space-around;
        flex-wrap: wrap;
    }
}


